@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #cfb7a5 ;
    overflow: hidden;
}
.section2{ background-color: rgb(201, 193, 159);}
.section3{ background-color: rgb(159, 201, 175);}
.section4{ background-color: rgb(159, 181, 201);}
.section5{ background-color: rgb(181, 159, 201);}

h1{
    font-size: 5vw;
    color: whitesmoke;
}
p{
    font-size: 2vw;
    color: rgb(42, 48, 50);
}
.section2 p{
    color:rgb(40, 116, 174);
}
.section3 p{
    color:rgb(60, 40, 174);
}
.section4 p{
    color:rgb(174, 40, 118);
}
.section5 {

}
.section99 .images{
    display:flex;
}
.section99 .images img{
    max-width: 350px;
}
/* scrolling styles */
section .animate{
    opacity: 0;
    filter: blur(5px);
    transition: 2s;
} 
section.show-animate .animate{
    opacity: 1;
    filter: blur(0px);
}

.section2 .animate{
    transform:translateX(110%);
}
.section2.show-animate .animate{
    transform:translateX(0%);
}

.section3 .animate{
    transform:scale(0.5);
}
.section3.show-animate .animate{
    transform:scale(1);
}

.section4 .animate{
    transform:rotate(-30deg);
}
.section4.show-animate .animate{
    transform:rotate(0deg);
}

.section5 .animate{
    transform:translateX(110%);
}
.section5.show-animate .animate{
    transform:translateX(0%);
}


.section99 .animate{
    /* transform:translate3d(100,50,230) rotate(-90deg); */
    transform:translateX(110%) rotate(-90deg);
    filter: blur(105px);
}
.section99.show-animate .animate{
    /* transform:translate3d(0,0,0) rotate(0deg); */
    transform:translateX(0%) rotate(0deg);
    filter: blur(0px);
}
p.animate{
    transition-delay: 1s;
}
.section99 img:nth-child(2){
    transition-delay:0.4s;
}
.section99  img:nth-child(3){
    transition-delay:0.8s;
}